.App {
  background-color: #ffffff;
  background-image: url("../images/backgrounds/xv.png")
}

p {
  font-size: 14px;
}

/* font-family: 'Crimson Text', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */